:root {
  --color-gris: rgba(221, 221, 221, 0.226);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--color-gris);
}

.nav-item {
  margin-right: 1rem;
}


.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2rem;
  background-color: var(--color-gris);
  max-width: 500px;
}

span.red {
  color: red;
}

span.green {
  color: rgb(8, 248, 0);
}

span.blue {
  color: rgb(0, 153, 255);
}

