
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px; /* ajusta la altura según tus necesidades */
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px; /* ajusta la altura según tus necesidades */
  background-color: rgb(221, 221, 221);
  margin-bottom: 2rem;
}