

:root {
  --color-gris: rgba(221, 221, 221, 0.226);
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2rem;
  background-color: var(--color-gris);
  max-width: 500px;
}

span.red {
  color: red;
}

span.green {
  color: rgb(8, 248, 0);
}

span.blue {
  color: rgb(0, 153, 255);
}

.btn:hover {
  background-color: red;
}


